ubuntu@ip-10-0-0-140:~/project/git/maven_app/k8s$ cat job.yaml.template
apiVersion: batch/v1
kind: Job
metadata:
  name: my-app-job
spec:
  template:
    spec:
      containers:
      - name: myapp-container
        image: rferns/maven-app:__IMAGE_TAG__-k8s
        imagePullPolicy: Never
      restartPolicy: Never
